
/* background: #ff7700 !important;
    border: 1px solid #ff7700 ! */
/* color: rgb(238, 238, 238); */
.content {
  margin-left: 20px;
  margin-top: 50px;
}
.content h1 {
  font-size: 42px;
  font-weight: 700;
  color: rgb(58, 56, 56);
  margin-left: 8px;
}
.content span {
  color: #ff7700;
  font-size: 44px;
}
.content p {
  font-size: 17px;
  font-weight: 500;
  color: rgb(154, 152, 152);
  margin-left: 8px;
  padding: 10px 0px;
  
}
.All-Button {
  background-color: transparent;
  color: #ff7700;
  border: 1px solid #ff7700;
  padding: 8px 30px;
  font-weight: 500;
}

.All-Button:hover {
  background-color: #ff7700;
  color: white;
  transition: .8s all ease-in-out;
}


/* media Quaries */
/* @media () {
  
} */